.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 18px;
  display: block;
  border: none;
}
.btn.btn-small {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding-left: 12px;
}
.btn.btn-small > img {
  padding: 6px 7px 6px 12px;
  display: inline-block;
  float: right;
}
.btn.btn-purple {
  background: #644263;
  color: #FFFEE7;
}
.btn.btn-transparent {
  background: transparent;
  color: #644263;
  border: 1px solid #644263;
}
.btn.btn-block {
  width: 100%;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 3px 8px 6px;
}
.btn.btn-block ~ button {
  margin-top: 10px;
}
body > nav {
  background: #644263;
  box-shadow: 2px 0 4px 0 #644263;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 20px;
}
body > nav .logo {
  text-align: center;
  margin: 30px auto 50px;
}
body > nav ul {
  margin: 0px;
  float: right;
  clear: both;
  text-align: left;
  padding: 0px;
  list-style: none;
  width: 80%;
}
body > nav ul li,
body > nav ul a {
  display: block;
  clear: both;
}
body > nav ul li > ul,
body > nav ul a > ul {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 16px;
  width: 95%;
}
body > nav ul li > a {
  padding: 2px 0px 2px 17px;
}
body > nav ul li > a.active {
  background: #FFFEE7;
  color: #644263;
  border-radius: 16px 0px 0px 16px;
  -moz-border-radius: 16px 0px 0px 16px;
  -webkit-border-radius: 16px 0px 0px 16px;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
  height: 100%;
}
h1 {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 42px;
  margin-top: 0px;
}
h2 {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
}
a {
  color: #FFFEE7;
  text-decoration: none;
}
a:hover {
  color: #FFFEE7;
}
#hero {
  padding-top: 56px;
  padding-bottom: 54px;
  background: #D0C6D0;
  color: #644263;
}
#hero h1 ~ p {
  line-height: 30px;
}
#hero button ~ p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}
.small-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}
.campaign-card {
  background: #EBE7EB;
  margin-top: 30px;
  padding: 20px !important;
  color: #644263;
}
.campaign-card:after {
  content: "";
  display: table;
  clear: both;
}
.campaign-card h2 > button {
  float: right;
  display: block;
}
.campaign-card ul {
  list-style: none;
  padding: 0px;
  margin-top: 27px;
}
.relbox {
  position: relative;
  height: 100%;
  min-height: 190px;
}
.relbox .bottom-box {
  position: absolute;
  bottom: 0;
}
.relbox .bottom-box span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.relbox .bottom-box span .badge {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #644263;
  padding: 3px 10px 4px;
  display: inline-block;
  margin-left: 10px;
}
